<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
    <h1>Signup Sucessful, Login with your credentials</h1>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/blog_api/auth/signup">Signup</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/blog_api/auth/login" method="post">
            <div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
            </div>
            
            <button type="submit">Login</button>
        </form>
    </main>
</body>
</html>